.footer {
  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--4x);
  padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--4x);
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-primary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-primary);
}

@media screen and (max-width: 991px) {
  .footer {
    padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--3x);
    padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--3x);
  }
}

.footer.is-secondary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-secondary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-primary);
}

.footer.is-accent-primary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-accent-color--accent-primary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-on-accent-primary);
}

.footer.is-inverse {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-inverse);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-inverse-primary);
}

.footer.is-accent-secondary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-accent-secondary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-on-accent-secondary);
}

.footer.is-accent-tertiary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-accent-tertiary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-on-accent-tertiary);
}

.container {
  width: 100%;
  max-width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---container--container-width);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---container--container-padding-horizontal);
  padding-left: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---container--container-padding-horizontal);
}

.container.is-max {
  width: 100%;
  max-width: none;
}

.container.is-large {
  width: 100%;
  max-width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---container--container-lg-width);
}

.container.is-small {
  max-width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---container--container-sm-width);
}

.position_relative {
  position: relative;
}

.text-align_center {
  text-align: center;
}

.max-width_90percent {
  max-width: 90%;
}

.heading_huge {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---h0-heading--h0-margin-bottom);

  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---font--heading-font);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---h0-heading--h0-size);
  line-height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---h0-heading--h0-line-height);
  font-weight: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---h0-heading--h0-weight);
  letter-spacing: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---h0-heading--h0-letter-spacing);

  text-wrap: balance;
}

.flex_horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.flex_horizontal.gap-small {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--sm-gap);
}

.gap-small {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--sm-gap);
}

.flex_horizontal.flex_vertical {
  flex-direction: column;
}

.flex_vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gap-large {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--lg-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--lg-gap);
}

.flex_horizontal.gap-xsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xs-gap);
}

.gap-xsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xs-gap);
}

.flex_horizontal.gap-xxsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxs-gap);
}

.gap-xxsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxs-gap);
}

.flex_horizontal.is-wrap {
  flex-wrap: wrap;
}

.flex_horizontal.gap-large {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--lg-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--lg-gap);
}

@media screen and (max-width: 767px) {
  .flex_horizontal.gap-large {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--2x);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--2x);
  }
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-vertical {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-vertical.tablet-y-center {
    justify-content: center;
  }
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-vertical.tablet-x-center {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .flex_horizontal.flex_vertical_mobile-l {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.flex_horizontal.gap-medium {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--md-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--md-gap);
}

.gap-medium {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--md-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--md-gap);
}

@media screen and (max-width: 767px) {
  .flex_horizontal.mobile-horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-flex-horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .flex_horizontal.mobile-l-vertical {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.flex_horizontal.is-space-between {
  justify-content: space-between;
}

.margin-top_medium {
  margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--3x);
}

@media screen and (max-width: 767px) {
  .margin-top_medium {
    margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1-5x);
  }
}

.is-y-center {
  justify-items: stretch;
  align-items: center;
}

.margin-bottom_none {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

.padding_none {
  padding: 0px;
  list-style-type: none;
}

@media screen and (max-width: 991px) {
  .padding_none {
    padding: 0px;
  }
}

@media screen and (max-width: 767px) {
  .padding_none {
    padding: 0px;
  }
}

@media screen and (max-width: 479px) {
  .padding_none {
    padding: 0px;
  }
}

.footer_link {
  display: inline-flex;
  padding-top: 0.35em;
  padding-bottom: 0.35em;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;

  font-weight: 400;
  text-decoration: none;
  color: color-mix(in srgb, currentColor 60%, transparent);
}

.footer_link:hover {
  opacity: 1;
  text-decoration: underline;
  color: color-mix(in srgb, currentColor 100%, transparent);
}

.footer_link.on-inverse {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---nav-link--nav-link-inverse);
}

.footer_link.on-inverse:hover {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---nav-link--nav-link-inverse);
}

.paragraph_xlarge {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---base-typography--base-margin-bottom);
  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---font--body-font);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---text-xl--xl-text-size);
  line-height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---text-xl--xl-text-line-height);
  letter-spacing: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---text-xl--xl-text-letter-spacing);
}