.nav {
  position: relative;
  z-index: 99;

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;

  background-color: hsla(0, 0.00%, 100.00%, 0.00);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-primary);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---base-typography--base-font-size);
}

@media screen and (max-width: 991px) {
  .nav {
    height: auto;
  }
}

.nav.is-inverse {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-inverse);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-inverse-primary);
}

.nav.is-accent-primary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-accent-primary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-on-accent-primary);
}

.nav.is-secondary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-secondary);
}

.nav.is-accent-tertiary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-accent-tertiary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-on-accent-tertiary);
}

.nav.is-accent-secondary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-accent-color--accent-secondary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-on-accent-secondary);
}

.nav_container {
  display: flex;
  width: 100%;
  max-width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---container--container-width);
  margin-right: auto;
  margin-left: auto;
  padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-75x) var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---container--container-padding-horizontal);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  border-bottom-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-radius);
  border-bottom-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-radius);

  background-color: hsla(0, 0.00%, 86.67%, 0.00);
}

.nav_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--sm-gap);
}

.nav_logo {
  display: flex;
  height: 2.5rem;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  text-decoration: none;
  color: inherit;
}

.nav_logo:hover {
  color: color-mix(in srgb, currentColor 80%, transparent);
}

.nav_logo-icon {
  display: flex;
  align-self: stretch;
}

.paragraph_large {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---base-typography--base-margin-bottom);
  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---font--body-font);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---text-lg--lg-text-size);
  line-height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---text-lg--lg-text-line-height);
  letter-spacing: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---text-lg--lg-text-letter-spacing);
}

.margin-bottom_none {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

.text-color_secondary {
  color: color-mix(in srgb, currentColor 75%, transparent);
}

.nav_menu {
  position: static;

  display: flex;
  height: 100%;
  margin-bottom: 0rem;
  padding-left: 0em;
  justify-content: center;
  align-items: center;
  align-self: center;

  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .nav_menu {
    position: absolute;
    top: 100%;

    height: auto;
    max-height: calc(100dvh - 10rem);
    padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1x);
    padding-right: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1x);
    padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1x);
    padding-left: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1x);

    border-top-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---radius--md-radius);
    border-top-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---radius--md-radius);
    border-bottom-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---radius--md-radius);
    border-bottom-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---radius--md-radius);

    background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-primary);

    overflow-x: auto;
    overflow-y: auto;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  }
}

.nav_menu-list {
  display: flex;
  margin-bottom: 0rem;
  padding-left: 0em;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media screen and (max-width: 991px) {
  .nav_menu-list {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.nav_menu-list-item {
  display: flex;
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .nav_menu-list-item {
    margin-bottom: 0px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.nav_dropdown-menu {
  position: static;
}

@media screen and (max-width: 991px) {
  .nav_dropdown-menu {
    width: 100%;
    height: auto;
  }
}

.nav_link {
  display: flex;
  padding-top: 0.5em;
  padding-right: 0.75em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxs-gap);

  border-top-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---button--button-radius);
  border-top-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---button--button-radius);
  border-bottom-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---button--button-radius);
  border-bottom-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---button--button-radius);

  text-decoration: none;
  white-space: nowrap;
  word-break: keep-all;
  color: color-mix(in srgb, currentColor 75%, transparent);
}

.nav_link:hover {
  background-color: color-mix(in srgb, currentColor 05%, transparent);
  color: inherit;
}

.nav_link:global(.w--current) {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---button--button-secondary-bg-hover);
}

.nav_link:global(.w--open) {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---button--button-secondary-bg-hover);
}

@media screen and (max-width: 991px) {
  .nav_link {
    justify-content: space-between;
    align-items: center;
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---text-lg--lg-text-size);
  }
}

@media screen and (max-width: 991px) {
  .nav_link:hover {
    color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-link--link-primary);
    background-color: color-mix(in srgb, currentColor 0%, transparent);
  }
}

@media screen and (max-width: 991px) {
  .nav_link:global(.w--current):hover {
    background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---button--button-secondary-bg-hover);
  }
}

@media screen and (max-width: 991px) {
  .nav_link:global(.w--open) {
    background-color: hsla(0, 0.00%, 0.00%, 0.00);
  }
}

.nav_link.on-accent-primary {
  background-color: inherit;
}

.nav_link.on-accent-primary:hover {
  background-color: color-mix(in srgb, currentColor 15%, transparent);
}

.nav_link.on-accent-primary:global(.w--current) {
  background-color: color-mix(in srgb, currentColor 30%, transparent);
}

.nav_link.on-accent-secondary:hover {
  background-color: color-mix(in srgb, currentColor 10%, transparent);
}

.nav_link.on-accent-secondary:global(.w--current) {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.nav_link.on-inverse {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-inverse-secondary);
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.nav_link.on-inverse:hover {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-inverse-primary);
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.nav_link.on-inverse:global(.w--current) {
  background-color: color-mix(in srgb, currentColor 30%, transparent);
}

.nav-caret {
  position: relative;
  margin: 0px;
}

.mega-nav_dropdown-list:global(.w--open) {
  left: 0px;
  right: 0px;
  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1-25x);
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .mega-nav_dropdown-list:global(.w--open) {
    position: relative;
    top: 0%;
    height: auto;
    padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
  }
}

.mega-nav_dropdown-list-wrapper {
  width: 100%;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  border-top-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-radius);
  border-top-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-radius);
  border-bottom-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-radius);
  border-bottom-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-radius);

  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-primary);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-primary);

  box-shadow: 0 4px 8px -2px rgba(0,0,0,0.1);
}

.mega-nav_dropdown-list-wrapper:global(.w--open) {
  position: absolute;
  left: 0%;
  top: 100%;
  right: 0%;
  bottom: auto;

  display: flex;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  justify-content: center;
  align-self: auto;
  order: 0;

  border-top-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-radius);
  border-top-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-radius);
  border-bottom-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-radius);
  border-bottom-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-radius);

  box-shadow: 0 8px 8px -4px rgba(0,0,0,0.1);
}

@media screen and (max-width: 991px) {
  .mega-nav_dropdown-list-wrapper {
    z-index: 3;

    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;

    box-shadow: none;

    background-color: color-mix(in srgb,currentColor 5%,transparent);
  }
}

@media screen and (max-width: 991px) {
  .mega-nav_dropdown-list-wrapper:global(.w--open) {
    position: relative;
    left: 0px;
    top: auto;
    right: 0px;

    height: auto;
    min-width: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}

.grid_3-col {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .grid_3-col {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 991px) {
  .grid_3-col.tablet-1-col {
    grid-template-columns: 1fr;
  }
}

.gap-medium {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--md-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--md-gap);
}

.gap-small {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--sm-gap);
}

.gap-xsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xs-gap);
}

.gap-large {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--lg-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--lg-gap);
}

.eyebrow {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1-25x);

  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---eyebrow--eyebrow-font);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---eyebrow--eyebrow-size);
  line-height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---eyebrow--eyebrow-line-height);
  font-weight: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---base-typography--base-font-weight);
  letter-spacing: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---eyebrow--eyebrow-letter-spacing);
  text-transform: uppercase;
  color: color-mix(in srgb, currentColor 60%, transparent);
}

.margin-bottom_xxsmall {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
}

.mega-nav_list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--sm-gap);
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.mega-nav_link-item {
  display: flex;
  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
  padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxs-gap);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-primary);
  text-decoration: none;

  transition: color 200ms ease;
}

.icon {
  display: flex;
  width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--2x);
  height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--2x);
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-accent-on-primary);

  vertical-align: middle;
}

.icon.is-small {
  width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1-25x);
  height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1-25x);
}

.icon.is-xsmall {
  width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1x);
  height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1x);
}

.icon.on-inverse {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-inverse-primary);
}

.icon.on-inverse.is-background {
  background-color: color-mix(in srgb, currentColor 30%, transparent);
}

.is-background {
  display: inline-flex;

  box-sizing: content-box;

  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
  padding-right: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
  padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
  padding-left: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
  justify-content: center;
  align-items: center;

  border-top-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---button--button-radius);
  border-top-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---button--button-radius);
  border-bottom-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---button--button-radius);
  border-bottom-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---button--button-radius);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-accent-on-primary);

  background-color: color-mix(in srgb, currentColor 10%, transparent);
}

.icon.on-accent-primary {
  color: inherit;
}

.icon.on-accent-secondary {
  color: inherit;
}

.icon.on-accent-tertiary {
  color: inherit;
}

.icon.is-background.on-inverse {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-inverse-primary);
}

.icon.is-medium {
  width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1-5x);
  height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1-5x);
}

.icon.is-large {
  width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--3x);
  height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--3x);
}

.margin-bottom_small {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--2x);
}

@media screen and (max-width: 767px) {
  .margin-bottom_small {
    margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1x);
  }
}

.margin-bottom_xsmall {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1x);
}

.icon.is-xlarge {
  width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--5x);
  height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--5x);
}

.paragraph_small {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---base-typography--base-margin-bottom);
  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---font--body-font);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---text-sm--sm-text-size);
  line-height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---text-sm--sm-text-line-height);
  letter-spacing: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---text-sm--sm-text-letter-spacing);
}

.text-color_inverse-secondary {
  color: color-mix(in srgb, currentColor 70%, transparent);
}

.flex_horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.flex_horizontal.gap-small {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--sm-gap);
}

.flex_horizontal.flex_vertical {
  flex-direction: column;
}

.flex_vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.flex_horizontal.gap-xsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xs-gap);
}

.flex_horizontal.gap-xxsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxs-gap);
}

.gap-xxsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxs-gap);
}

.flex_horizontal.is-wrap {
  flex-wrap: wrap;
}

.flex_horizontal.gap-large {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--lg-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--lg-gap);
}

@media screen and (max-width: 767px) {
  .flex_horizontal.gap-large {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--2x);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--2x);
  }
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-vertical {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-vertical.tablet-y-center {
    justify-content: center;
  }
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-vertical.tablet-x-center {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .flex_horizontal.flex_vertical_mobile-l {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.flex_horizontal.gap-medium {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--md-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--md-gap);
}

@media screen and (max-width: 767px) {
  .flex_horizontal.mobile-horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-flex-horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .flex_horizontal.mobile-l-vertical {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.flex_horizontal.is-space-between {
  justify-content: space-between;
}

.margin-top_medium {
  margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--3x);
}

@media screen and (max-width: 767px) {
  .margin-top_medium {
    margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1-5x);
  }
}

.is-y-center {
  justify-items: stretch;
  align-items: center;
}

.padding_none {
  padding: 0px;
  list-style-type: none;
}

@media screen and (max-width: 991px) {
  .padding_none {
    padding: 0px;
  }
}

@media screen and (max-width: 767px) {
  .padding_none {
    padding: 0px;
  }
}

@media screen and (max-width: 479px) {
  .padding_none {
    padding: 0px;
  }
}

.card-link {
  display: flex;
  overflow: clip;
  margin-bottom: 0px;
  flex-direction: column;
  flex-wrap: nowrap;

  border: 0px solid var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---card--card-primary-border);
  border-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-radius);

  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-secondary);
  background-image: none;

  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a20) inset, 0 3px 3px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
  opacity: 1;

  transform: translateY(0px);
  transition: all 160ms linear;

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-primary);
  text-decoration: none;
  list-style-type: none;
}

.card-link:hover {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-secondary);
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a20) inset, 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
  opacity: 1;
  transform: translateY(-2px);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---card--card-primary-text);
}

.card-link.on-secondary {
  border-color: hsla(0, 0.00%, 0.00%, 0.90);

  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-primary);
  background-image: none;

  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a20) inset, 0 3px 3px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-primary);
  -webkit-text-stroke-color: black;
}

.card-link.on-secondary:hover {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-primary);
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a20) inset, 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
  color: black;
}

.card-link.on-accent-primary {
  border-color: hsla(0, 0.00%, 0.00%, 0.90);

  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-primary);
  background-image: none;

  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-primary-a20), 0 3px 3px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-primary);
  -webkit-text-stroke-color: black;
}

.card-link.on-accent-primary:hover {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-primary);
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-primary-a20), 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
  color: black;
}

.card-link.on-inverse {
  border-color: hsla(0, 0.00%, 0.00%, 0.90);

  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-primary-a10);
  background-image: none;

  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-primary-a20) inset, 0 3px 3px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-inverse-primary);
  -webkit-text-stroke-color: black;
}

.card-link.on-inverse:hover {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-primary-a10);
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-primary-a20) inset, 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
  color: black;
}

.card-link.on-accent-secondary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-primary);
  background-image: none;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-primary-a20), 0 3px 3px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-primary);
}

.card-link.on-accent-secondary:hover {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-primary);
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-primary-a20), 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
}

.card-link.on-accent-tertiary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-primary);
  background-image: none;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-primary-a20), 0 3px 3px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-primary);
}

.card-link.on-accent-tertiary:hover {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-primary);
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-primary-a20), 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
}

.card-link.is-inverse {
  border-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---card--card-inverse-border);
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---card--card-inverse-bg);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---card--card-inverse-text);
}

.flex-child_expand {
  flex: 1;
}

.card_body {
  position: relative;
  z-index: 1;

  display: flex;
  min-height: 100%;
  padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-padding);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .card_body {
    padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-padding-tablet\<deleted\|variable-17c0b142-44a1-e0ff-7b4a-f478e7d39336\>);
  }
}

@media screen and (max-width: 767px) {
  .card_body {
    padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-padding-mobile-l\<deleted\|variable-08bb9e86-8f88-04a8-7a51-3fc1fda6c73f\>);
  }
}

@media screen and (max-width: 479px) {
  .card_body {
    padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-padding-mobile-p\<deleted\|variable-21d0b569-54ea-02b9-3abf-6f93b13907bb\>);
  }
}

.heading_h3 {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---h3-heading--h3-margin-bottom);

  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---font--heading-font);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---h3-heading--h3-size);
  line-height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---h3-heading--h3-line-height);
  font-weight: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---h3-heading--h3-weight);
  letter-spacing: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---h3-heading--h3-letter-spacing);
}

.margin_top-auto {
  margin-top: auto !important;
}

.button-group {
  display: flex;
  margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--2x);
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
}

@media screen and (max-width: 479px) {
  .button-group {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}

.button-group.is-align-center {
  justify-content: center;
}

.button-group.is-align-right {
  justify-content: flex-end;
}

.button-group.is-vertical-stretch {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.margin-top_none {
  margin-top: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

.text-button {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;

  transition: all 200ms ease-in-out;

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-link--link-primary);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1x);
  font-weight: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---h5-heading--h5-weight);
  text-decoration: none;
}

.text-button:hover {
  grid-column-gap: 0.7em;
  grid-row-gap: 0.7em;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-accent-color--accent-primary-hover);
}

.text-button.is-small {
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-75x);
}

.text-button.on-inverse {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-link--link-inverse);
}

.text-button.on-inverse:hover {
  opacity: 0.7;
}

.text-button.is-secondary {
  transition-property: opacity, color;
  transition-duration: 300ms, 300ms;
  transition-timing-function: ease-in-out, ease-in-out;
  color: inherit;
}

.text-button.is-secondary:hover {
  opacity: 0.6;
}

.text-button.on-accent-primary {
  color: inherit;
}

.text-button.on-accent-primary:hover {
  opacity: 0.6;
  color: inherit;
}

.text-button.on-accent-tertiary {
  color: inherit;
}

.text-button.on-accent-tertiary:hover {
  color: inherit;
}

.text-button.on-accent-secondary {
  color: inherit;
}

.text-button.on-accent-secondary:hover {
  color: inherit;
}

.button_icon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.nav_dropdown-list:global(.w--open) {
  display: flex;
  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--1-25x);
  background-color: transparent;
}

.nav-menu_dropdown-list-wrapper {
  border-top-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-radius);
  border-top-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-radius);
  border-bottom-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-radius);
  border-bottom-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---card--card-radius);

  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---background-color--bg-primary);

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.nav-menu_dropdown-list-wrapper:global(.w--open) {
  top: 100%;

  margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
  padding-right: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
  padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
  padding-left: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);

  box-shadow: 0 6px 8px -4px rgba(0,0,0,0.1);
}

.flex_vertical.is_align-center-flex {
  align-items: center;
}

.flex_vertical.gap-xsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xs-gap);
}

.flex_vertical.gap-xxsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxs-gap);
}

.flex_vertical.gap-large {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--lg-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--lg-gap);
}

@media screen and (max-width: 991px) {
  .flex_vertical.gap-large {
    justify-content: flex-end;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .flex_vertical.gap-large {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--2x);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--2x);
  }
}

.flex_vertical.is_align-end-flex {
  justify-content: flex-start;
  align-items: flex-end;
}

.flex_vertical.gap-medium {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--md-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--md-gap);
}

.flex_vertical.gap-small {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--sm-gap);
}

.flex_vertical.is-y-center {
  justify-content: center;
  align-items: stretch;
}

.flex_vertical.gap-xlarge {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xl-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xl-gap);
}

.gap-xlarge {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xl-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xl-gap);
}

.gap-xxlarge {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxl-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxl-gap);
}

.nav_dropdown-link {
  display: flex;
  padding-top: 0.75em;
  padding-right: 1em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--xxs-gap);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---nav-link--nav-link-primary);
  font-weight: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---h5-heading--h5-weight);
  text-decoration: none;

  transition: color 200ms ease;
}

.nav_dropdown-link:global(.w--current) {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---button--button-secondary-bg-hover);
}

.nav_dropdown-link:global(.w--open) {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---button--button-secondary-bg-hover);
}

.button_label {
  white-space: pre;
}

.nav_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---gap--sm-gap);
}

.button {
  display: inline-flex;
  padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---button--button-padding-vertical) var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---button--button-padding-horizontal);
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;

  border: 0px solid var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---button--button-primary-border);
  border-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---button--button-radius);

  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-accent-color--accent-primary);
  background-image: none;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2), inset 0px 3px 2px -2px rgba(255, 255, 255, 0.5);

  transition: border-color 200ms ease,color 200ms ease,background-color 200ms cubic-bezier(0.165, 0.84, 0.44, 1),box-shadow 200ms ease;

  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---button--button-font);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-on-accent-primary);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_typography---base-typography--base-font-size);
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
}

.button:hover {
  border-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---button--button-primary-border-hover);
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-accent-color--accent-primary-hover);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 8px 8px rgba(0, 0, 0, 0.2), inset 0px 3px 2px -2px rgba(255, 255, 255, 0.5);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---button--button-primary-text);
}

.button:active {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-accent-color--accent-primary);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2), inset 0px 3px 2px -2px rgba(255, 255, 255, 0.5);
}

.button:focus {
  outline-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-accent-color--accent-primary);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

@media screen and (max-width: 479px) {
  .button {
    white-space: nowrap;
  }
}

.button.is-secondary {
  border-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---button--button-secondary-border);
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--accent-primary-a20);
  background-image: none;
  box-shadow: none;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-primary);
}

.button.is-secondary:hover {
  border-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---button--button-secondary-border-hover);
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--accent-primary-a10);
  box-shadow: none;
}

.button.is-secondary:active {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--accent-primary-a20);
  box-shadow: none;
}

.button.is-secondary.on-accent-primary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a20);
  background-image: none;
  box-shadow: none;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-primary);
}

.button.is-secondary.on-accent-primary:hover {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a10);
  box-shadow: none;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-link--link-inverse-hover);
}

.button.is-secondary.on-accent-primary:active {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a20);
  box-shadow: none;
}

.button.is-secondary.on-accent-secondary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a20);
  background-image: none;
  box-shadow: none;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-primary);
}

.button.is-secondary.on-accent-secondary:hover {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a10);
  box-shadow: none;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-link--link-inverse-hover);
}

.button.is-secondary.on-accent-secondary:active {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a20);
  box-shadow: none;
}

.button.is-secondary.on-accent-tertiary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a20);
  background-image: none;
  box-shadow: none;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-primary);
}

.button.is-secondary.on-accent-tertiary:hover {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a10);
  box-shadow: none;
}

.button.is-secondary.on-accent-tertiary:active {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a20);
  box-shadow: none;
}

.button.is-secondary.on-inverse {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--accent-primary-a20);
  background-image: none;
  box-shadow: none;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-inverse-primary);
}

.button.is-secondary.on-inverse:hover {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--accent-primary-a10);
  box-shadow: none;
}

.button.is-secondary.on-inverse:active {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--accent-primary-a20);
  box-shadow: none;
}

.button.is-small {
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-75x);
}

.button.is-inverse {
  border-color: transparent;
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-accent-color--accent-primary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-neutral-color--neutral-primary);
}

.button.is-inverse:hover {
  border-color: transparent;
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-accent-color--accent-primary-hover);
}

.button.on-accent-primary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a20);
  background-image: linear-gradient(var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a60), var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a90));
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2), inset 0px 3px 2px -2px rgba(255, 255, 255, 0.5);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-inverse-primary);
}

.button.on-accent-primary:hover {
  border-color: transparent;
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a50);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 8px 8px rgba(0, 0, 0, 0.2), inset 0px 3px 2px -2px rgba(255, 255, 255, 0.5);
}

.button.on-accent-primary:active {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a20);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2), inset 0px 3px 2px -2px rgba(255, 255, 255, 0.5);
}

.button.on-inverse {
  border-color: transparent;
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-accent-color--accent-primary);
  background-image: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2), inset 0px 3px 2px -2px rgba(255, 255, 255, 0.5);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-on-accent-primary);
}

.button.on-inverse:hover {
  border-color: transparent;
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-accent-color--accent-primary-hover);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 8px 8px rgba(0, 0, 0, 0.2), inset 0px 3px 2px -2px rgba(255, 255, 255, 0.5);
}

.button.on-inverse:active {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-accent-color--accent-primary);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2), inset 0px 3px 2px -2px rgba(255, 255, 255, 0.5);
}

.button.on-accent-secondary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a20);
  background-image: linear-gradient(var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a60), var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a90));
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2), inset 0px 3px 2px -2px rgba(255, 255, 255, 0.5);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-inverse-primary);
}

.button.on-accent-secondary:hover {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a50);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 8px 8px rgba(0, 0, 0, 0.2), inset 0px 3px 2px -2px rgba(255, 255, 255, 0.5);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-primary);
}

.button.on-accent-secondary:active {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a20);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2), inset 0px 3px 2px -2px rgba(255, 255, 255, 0.5);
}

.button.on-accent-tertiary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a20);
  background-image: linear-gradient(var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a60), var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a90));
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2), inset 0px 3px 2px -2px rgba(255, 255, 255, 0.5);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-inverse-primary);
}

.button.on-accent-tertiary:hover {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a50);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 8px 8px rgba(0, 0, 0, 0.2), inset 0px 3px 2px -2px rgba(255, 255, 255, 0.5);
}

.button.on-accent-tertiary:active {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-color-tint--neutral-inverse-a20);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2), inset 0px 3px 2px -2px rgba(255, 255, 255, 0.5);
}

.nav_mobile-menu-button {
  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
  padding-right: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
  padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
  padding-left: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151_sizes---spacing--0-5x);
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  color: inherit;
}

.nav_mobile-menu-button:hover {
  color: inherit;
}

.nav_mobile-menu-button:global(.w--open) {
  z-index: 2;
  background-color: transparent;
}

.nav_mobile-menu-button:global(.w--open):hover {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-link--link-inverse-hover);
}

@media screen and (max-width: 991px) {
  .nav_mobile-menu-button {
    align-self: center;
    background-color: transparent;
    color: inherit;
  }
}

@media screen and (max-width: 991px) {
  .nav_mobile-menu-button:global(.w--open) {
    background-color: transparent;
    color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---core-accent-color--accent-primary);
  }
}

@media screen and (max-width: 991px) {
  .nav_mobile-menu-button:global(.w--open):hover {
    color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-link--link-primary);
  }
}

@media screen and (max-width: 479px) {
  .nav_mobile-menu-button:global(.w--open) {
    color: inherit;
  }
}

.nav_mobile-menu-button.fixed-open-nav:global(.w--open) {
  position: fixed;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1755632765151---text-color--text-inverse-secondary);
}

#w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f1123-5a9f1121 {
}
#w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f1124-5a9f1121 {
}
#w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f112a-5a9f1121 {
}
#w-node-_7433720f-7db7-ce79-1492-2e74223a9c1a-4d562d54.w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f1135-5a9f1121 {
  grid-column-start: span 2;
  grid-column-end: span 2;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f113b-5a9f1121 {
}
#w-node-_7433720f-7db7-ce79-1492-2e74223a9c25-4d562d54.w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f1140-5a9f1121 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f1146-5a9f1121 {
}
#w-node-_7433720f-7db7-ce79-1492-2e74223a9c30-4d562d54.w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f114b-5a9f1121 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f1151-5a9f1121 {
}
#w-node-_7433720f-7db7-ce79-1492-2e74223a9c3b-4d562d54.w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f1156-5a9f1121 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f115c-5a9f1121 {
}
#w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f1160-5a9f1121 {
}
#w-node-_7433720f-7db7-ce79-1492-2e74223a9c4a-4d562d54.w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f1165-5a9f1121 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f116b-5a9f1121 {
}
#w-node-_7433720f-7db7-ce79-1492-2e74223a9c55-4d562d54.w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f1170-5a9f1121 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f1178-5a9f1121 {
}
#w-node-_7433720f-7db7-ce79-1492-2e74223a9c60-4d562d54.w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f117d-5a9f1121 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f1183-5a9f1121 {
}
#w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f1187-5a9f1121 {
}
#w-node-_7433720f-7db7-ce79-1492-2e74223a9c6f-4d562d54.w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f118c-5a9f1121 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f1192-5a9f1121 {
}
#w-node-_7433720f-7db7-ce79-1492-2e74223a9c7a-4d562d54.w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f1197-5a9f1121 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f119d-5a9f1121 {
}
#w-node-_7433720f-7db7-ce79-1492-2e74223a9c85-4d562d54.w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f11a2-5a9f1121 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_7433720f-7db7-ce79-1492-2e74223a9c8b-4d562d54.w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f11a8-5a9f1121 {
  align-self: stretch;
}
#w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f11d2-5a9f1121 {
}
@media screen and (max-width: 991px) {
  #w-node-_7433720f-7db7-ce79-1492-2e74223a9c8b-4d562d54.w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f11a8-5a9f1121 {
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-_6fec09ea-cd2a-a13b-dbe6-10995a9f11d2-5a9f1121 {
  }
}